.nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;
}

.tagIcon {
    width: 54px;
}

.nav>li {
    text-align: center;
    margin: 10px 25px;
}

.nav>li>a {
    color: #b5b5b5;
    font-size: 1.3em;
    padding: 0;
    margin: 4px 2px;
    font-weight: bold;
    transition:color linear 0.5s;
    -moz-transition:color linear 0.5s; /* Firefox 4 */
    -webkit-transition:color linear 0.5s; /* Safari and Chrome */
    -o-transition:color linear 0.5s; /* Opera */
}

.nav>li>a:focus, .nav>li>a:hover {
    color: #929292;
    background-color: transparent;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #d94f5c;
    background-color: transparent;
} 

.nav-pills>li {
    border-bottom: 0 transparent;
    border-bottom-color: #ffffff;
    transition:border-bottom-color linear 0.5s;
    -moz-transition:border-bottom-color linear 0.5s; /* Firefox 4 */
    -webkit-transition:border-bottom-color linear 0.5s; /* Safari and Chrome */
    -o-transition:border-bottom-color linear 0.5s; /* Opera */
}

.nav-pills>li.active {
    border-bottom: 2px solid;
    border-bottom-color: #d94f5c;
}

@media(max-width: 375px) {
    .nav>li{
        margin: 10px 15px;
    }
}
